
.section-camaqua {
    background: url(/images/minasdocamaqua/bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    padding: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  
  .section-camaqua h1 {
    font-family: 'Hepta Slab', serif;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 300;
    line-height: 12vw;
    color:white;
    text-transform: uppercase;
  }

  .main-camaqua{
    position: relative;
    top:0;
  }
  
  .galeria-camaqua{
    position: relative;
    top: 700px;
  }

  .main-camaqua h1{
    margin: 25px;
    padding: 10px;
    font-family: 'Hepta Slab', serif;
    text-transform: uppercase;
    text-align: center;
    color: black;
    display: flex;
    justify-content:center;
  }

  .main-camaqua h3{
    font-size: 1.2rem;
    color: black;
    margin: 15px 50px 35px 50px;
    text-align:justify;
    line-height: 30px;
 }



/*Small Devices*/

@media (min-width:375px) and ( max-width:500px){
   
    .mega-menu .content{
        grid-template-columns: 1fr;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }
    .blog .content{
        height: 230vh;
    }
    .section{
        position: relative;
    }
    
    .section h1{
       font-size: 3rem;
       letter-spacing: 5px;
       line-height: 18vw; 
    }

    .section-camaqua{
        position: relative;
    }
    
    .section-camaqua h1{
        color: white;
       font-size: 2rem;
       letter-spacing: 5px;
       line-height: 9vw;
       display: flex;
       justify-content: flex-start;
    }
    
    .main{
        top:0;
        margin-top: 65px;
    }
    .main-camaqua{
        top:0;
        margin-top: 65px;
    }
    .galeria{
        top:15px;
        margin-bottom: -25px;
    }
    .galeria .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
        margin-bottom: 55px;
    }
    
    .content .col .img-wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
      }
    footer{
        height: 12vh;
        top: 0;
    }
    footer p{
        padding: 50px;
    }
}

@media(min-width:501px) and (max-width:920px){
    .mega-menu .content{
        grid-template-columns: 1fr;
        height: 200vh;
        justify-content: center;
        text-align: center;
    }
    .blog .content{
        height: 230vh;
    }
    .section{
        position: relative;
    }
    
    .section h1{
       font-size: 3.5rem;
       letter-spacing: 5px;
       line-height: 15vw; 
    }
    .main{
        top:0px;
        margin-top: 90px;
    }
    .section-camaqua{
        position: relative;
    }
    
    .section-camaqua h1{
       font-size: 2.5rem;
       letter-spacing: 5px;
       line-height: 12vw; 
    }
    .main-camaqua{
        top:0;
        margin-top: 45px;
        
    }
    .galeria{
        top: 40px;
    }
    .galeria-camaqua{
        margin-top:0;
        top: 10px;
    }
    .galeria .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 15px;
        margin-bottom: 55px;
    }
    .content .col .img-wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 40vh;
        overflow: hidden;
      }
    footer{
        height: 12vh;
        top: 0;
    }
    footer p{
        padding: 50px;
    }

}


@media(min-width:921px) and (max-width:1500px){
    .section h1{
        font-size: 4rem;
        letter-spacing: 5px;
        line-height: 10vw; 
     }
     .main{
        top:860px;
        margin-top: 120px;
     }
     .section-camaqua h1{
        font-size: 4rem;
        letter-spacing: 5px;
        line-height: 10vw; 
     }
     .main-camaqua{
        top:860px;
        margin-top: 50px;
     }
     .galeria{
        margin-top:200px;
        margin-bottom: 30px;
     }
     
     footer{
        height: 12vh;
        top: 690px;
        
        
    }
    footer p{
        padding: 50px;
    }
}

@media (min-width:844px) and (max-width:920px){
    .section-camaqua h1{
       line-height: 40vw; 
     }

}

@media (min-width:1320px){
    .section h1{
        font-size:5rem;
    }
}

@media (min-width:1501px) and (max-width:2560px){
    
    .section h1{
        font-size:5rem;
    }
    .section-camaqua h1{
        font-size: 4rem;
        letter-spacing: 5px;
        line-height: 10vw; 
     }
    .main{
        top:860px;
        margin-top: 120px;
     }
     .main-camaqua{
        top:860px;
        margin-top: 50px;
     }
     .galeria{
        margin-top:200px;
        margin-bottom: 30px;
     }
     footer{
        height: 12vh;
        top: 690px;
    }
    footer p{
        padding: 50px;
    }
}

@media (min-width:1800px) and (max-width:2560px){
    
    .section-camaqua h1{
        font-size:5rem;
    }
}




